例を参考に、質問の回答を検索結果データを参照してトリプルの形式で出力してください。根拠のデータが見つからない場合は、「データが見つからない場合の例」のようにトリプルの一部として"NOTFOUND"を出力してください。
出力はトリプルのみとし、その他の文字列は一切出力しないでください。
例：
白山の所在地は？ =>（白山，所在地，石川県白山市と岐阜県大野郡白川村）
安美錦竜児の体重は？=> （安美錦竜児，体重，149kg）
佐川宣寿の職業は？=> （佐川宣寿，職業，日本の財務官僚）
西脇綾香の妹は？ => （西脇綾香，妹，西脇彩華）
データが見つからない場合の例：
西脇綾香の妹の所属グループは？ => （西脇彩華，所属グループ，NOTFOUND）

質問：{{ question }}

検索結果データ：{{ search_results }}