{% if with_search %}
白山と御嶽山、石川県にあるのは？ => 白山がある県は？[白山、県]\t御嶽山がある県は？[御嶽山、県]\\t白山と御嶽山、石川県にあるのは？
ハンブルクとイスタンブール、ドイツにあるのは？ => ハンブルクがある国は？[ハンブルク、国]\tイスタンブールがある国は？[イスタンブール、国]\tハンブルクとイスタンブール、ドイツにあるのは？
第二次木津川口の戦いと赤壁の戦いは、どちらも日本で起きた歴史上の戦いですか？ => 第二次木津川口の戦いが起きた国は？[第二次木津川口の戦い、国]\t赤壁の戦いが起きた国は？[赤壁の戦い、国]\t第二次木津川口の戦いと赤壁の戦いは、どちらも日本で起きた歴史上の戦いですか？
映画『風の谷のナウシカ』のプロデューサーの出身は現在で言う何市ですか？ => 風の谷のナウシカ (映画)のプロデューサーは？[風の谷のナウシカ (映画)、プロデューサー]\tAnswer1の出身地はは現在で言う何市ですか？[Answer1、出身地]
大田区の区の鳥の分類は何目何科でしょうか？ => 大田区の区の鳥は？[大田区、区の鳥]\tAnswer1の分類は何目何科？[Answer1、分類]
王貞治は小田和正の何歳年上でしょうか？ => 王貞治の生年月日は？[王貞治、生年月日]\t小田和正の生年月日は？[小田和正、生年月日]\t王貞治は小田和正の何歳年上でしょうか？
西脇綾香の妹の所属グループが活動を開始した年は？ => 西脇綾香の妹は？[西脇綾香、妹]\tAnswer1の所属グループは？[Answer1、所属グループ]\tAnswer2が活動を開始した年は？[Answer2、活動開始年]
安美錦竜児と千代鳳祐樹はどちらが体重が重いですか？ => 安美錦竜児の体重は？[安美錦竜児、体重]\t千代鳳祐樹の体重は？[千代鳳祐樹、体重]\t安美錦竜児と千代鳳祐樹はどちらが体重が重いですか？
佐川宣寿と新原浩朗は、どちらも日本の官僚ですか？ => 佐川宣寿の職業は？[佐川宣寿、職業]\t新原浩朗の職業は？[新原浩朗、職業]\\t佐川宣寿と新原浩朗は、どちらも日本の官僚ですか？
寿美菜子が出演したガールズバンドを題材としたアニメ作品の原作者は？ => 寿美菜子が出演したガールズバンドを題材としたアニメ作品は？[寿美菜子、出演したガールズバンドを題材としたアニメ作品]\tAnswer1の原作者は？[Answer1、原作者]
{% else %}
白山と御嶽山、石川県にあるのは？ => 白山がある県は？\t御嶽山がある県は？\t白山と御嶽山、石川県にあるのは？
ハンブルクとイスタンブール、ドイツにあるのは？ => ハンブルクがある国は？\tイスタンブールがある国は？\tハンブルクとイスタンブール、ドイツにあるのは？
第二次木津川口の戦いと赤壁の戦いは、どちらも日本で起きた歴史上の戦いですか？ => 第二次木津川口の戦いが起きた国は？\t赤壁の戦いが起きた国は？\t第二次木津川口の戦いと赤壁の戦いは、どちらも日本で起きた歴史上の戦いですか？
映画『風の谷のナウシカ』のプロデューサーの出身は現在で言う何市ですか？ => 風の谷のナウシカ (映画)のプロデューサーは？\tAnswer1の出身地はは現在で言う何市ですか？
大田区の区の鳥の分類は何目何科でしょうか？ => 大田区の区の鳥は？\tAnswer1の分類は何目何科？
王貞治は小田和正の何歳年上でしょうか？ => 王貞治の生年月日は？\t小田和正の生年月日は？\t王貞治は小田和正の何歳年上でしょうか？
西脇綾香の妹の所属グループが活動を開始した年は？ => 西脇綾香の妹は？\tAnswer1の所属グループは？\tAnswer2が活動を開始した年は？
安美錦竜児と千代鳳祐樹はどちらが体重が重いですか？ => 安美錦竜児の体重は？\t千代鳳祐樹の体重は？\t安美錦竜児と千代鳳祐樹はどちらが体重が重いですか？
佐川宣寿と新原浩朗は、どちらも日本の官僚ですか？ => 佐川宣寿の職業は？\t新原浩朗の職業は？\t佐川宣寿と新原浩朗は、どちらも日本の官僚ですか？
寿美菜子が出演したガールズバンドを題材としたアニメ作品の原作者は？ => 寿美菜子が出演したガールズバンドを題材としたアニメ作品は？\tAnswer1の原作者は？
{% endif %}