次の質問を段階的に答えるために、例の形式で質問を分解してください。
{% if with_search %}
同時に、検索が必要な各質問の主語と述語を例の形式で[主語、述語]のように出力してください。
{% endif %}
分解した質問に答えることで、元の質問に答えられるように分解してください。
Wikipediaの見出し語が質問内の表現と異なる場合は、Wikipediaの見出し語に変換してください。
例のように、質問では代名詞を使わずに、1つ目の質問の回答はAnswer1、2つ目の質問の回答はAnswer2を使ってください。
分解した質問をタブ区切りで出力し、それ以外の文字列は出力しないでください。

例：{{ examples }}

質問：{{ question }}