例を参考に、質問の回答を簡潔な名詞句またはYESかNOで答えてください。出力は回答のみとし、その他の文字列は一切出力しないでください。
例：
白山の所在地は？ => 石川県白山市と岐阜県大野郡白川村
安美錦竜児の体重は？=> 149kg
佐川宣寿の職業は？=> 日本の財務官僚
西脇綾香の妹は？ => 西脇彩華

質問：{{ question }}
{% if derivations %}

根拠：
{% for derivation in derivations %}
{{ derivation }}
{% endfor %}
{% endif %}