次の質問に、根拠を提示しながら、簡潔な名詞句またはYESかNOで答えてください。以下の例は、"質問 => 根拠 => 回答"の形で記述されています。根拠は例のようにトリプルの形で出力してください。回答は例のように文章ではなく名詞句またはYESかNOで出力してください。出力は例のように"根拠 => 回答"の形式としてください。:
例：
白山と御嶽山、石川県にあるのは？ => （白山，所在地，石川県白山市と岐阜県大野郡白川村）;（御嶽山，所在地，長野県木曽郡木曽町・王滝村と岐阜県下呂市・高山市） => 白山
安美錦竜児と千代鳳祐樹はどちらが体重が重いですか？ => （安美錦竜児，体重，149）;（千代鳳祐樹，体重，183） => 千代鳳祐樹
佐川宣寿と新原浩朗は、どちらも日本の官僚ですか？ => （佐川宣寿，職業，日本の財務官僚）;（新原浩朗，職業，日本の経産官僚） => YES
西脇綾香の妹の所属グループが活動を開始した年は？ => （西脇綾香，妹，9nine）;（9nine，活動開始，2005年） => 2005年
東海環状自動車道と関越自動車道、どちらの路線が長いですか？ => （東海環状自動車道，路線延長，152.7km）;（関越自動車道，路線延長，246.3km） => 関越自動車道

質問：
{{ question }}