検索結果データを参照して、質問の回答を簡潔な名詞句で出力してください。
根拠のデータが見つからない場合は、「データが見つからない場合の例」のように"NOTFOUND"を出力してください。
例を参考に、出力は回答のみとし、その他の文字列は一切出力しないでください。

例1) 質問：白山の所在地は？ 回答：石川県白山市と岐阜県大野郡白川村
例2) 質問：安美錦竜児の体重は？ 回答：49kg
例3) 質問：佐川宣寿の職業は？ 回答：日本の財務官僚
例4) 質問：西脇綾香の妹は？ 回答：西脇彩華
自信が無い場合の例：
例5) 質問：西脇綾香の妹の所属グループは？  回答：NOTFOUND

質問：{{ question }}

検索結果データ：{{ search_results }}